.game-header {
    padding: 5%;
    text-align: center;
    background-image: url("../image/banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.game-header h1 {
    color: white;
    font-size: 7vw;
    font-family: Roboto, sans-serif;

}

.inline {
    text-align: center;
}

.message {
    padding: 2%;
}

.currentQuestion {
    font-size: 2vw;
    padding-bottom: 3%;
}

.info {
    font-size: 3.5vw;
    padding: 2%;
    border-width: 1px;
    background-color: #FFFFFF;
    border-style: hidden;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(66,66,66,.75);
}

.choose {
    display: block;
    font-size: 2.5vw;
    padding-bottom: 2%;

}

.checkbox {
    padding: 1%;
}

.checkbox label {
    width: 30%;
    display: inline-block;
}

.answer{
    padding: 2.5%;
    font-size: 2.5vw;
    border-width: 1px;
    background-color: #FFFFFF;
    border-style: hidden;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(66,66,66,.75);
    text-align: left;
}


